/* Define CSS Variables */
:root {
    --background-color-light: #fff;
    --text-color-light: #333;
    --background-color-dark: #333;
    --text-color-dark: #fff;
    --primary-color: #3498db;
}

/* Basic Styles */
body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    font-family: Georgia, serif;
    transition: background-color 0.3s, color 0.3s;
}

header {
    padding: 20px;
    text-align: center;
}

button#theme-toggle {
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

button#theme-toggle:hover {
    background-color: #2980b9;
}

.project-card {
    margin-top: 20px;
}

.project-card a {
    color: var(--primary-color);
    text-decoration: none;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/* Optional transition for smooth theme changes */
body, header, button {
    transition: background-color 0.3s, color 0.3s;
}
