
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #fff;
    --text-color: #333;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}


body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode header {
    background-color: #2c3e50;
}


header {
    padding: 20px;
    text-align: center;
}

button#theme-toggle {
    margin: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button#theme-toggle:hover {
    background-color: #2980b9;
}


body, header, button {
    transition: background-color 0.3s, color 0.3s;
}


.project-card {
    margin-top: 20px;
}

.project-card a {
    color: var(--primary-color);
    text-decoration: none;
}
